* {
    outline: none;
    transition: all 0.2s;
}

*::-webkit-scrollbar{
    width: 7px;
}

/* 스크롤바 막대 설정*/
*::-webkit-scrollbar-thumb{
    background-color: rgba(0,0,0,0.05);
	border: 2px solid none; /* 스크롤을 적용할 영역 색깔과 border 색상을 똑같이 맞춘다 */
}
*::-webkit-scrollbar-thumb:hover{
    background-color: rgba(0,0,0,0.1);
}
*::-webkit-scrollbar-thumb:active{
    background-color: rgba(0,0,0,0.5);
}

*::-webkit-scrollbar-track{
	background-color: rgba(0,0,0,0); /* 스크롤바 뒷 배경을 투명 처리한다 */
}

html,body {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

button {
    cursor: pointer;
}

select {
    border: none;
}

small {
    color: gray;
    font-size: 10px;
}

dialog {
    border: none;
    box-shadow: 0px 0px 10px 0px gray;
    width: 400px;
    height: 500px;
    animation: 0.5s dlgOpen;
    background: none;
    backdrop-filter: blur(20px);
}
@keyframes dlgOpen {
    from {
        transform: translateY(-500px) scale(10%);
        opacity: 0%;
    }
}
.dlgTitle {
    float: left;
    padding-left: 50px;
}
dialog select {
    background: none;
}
dialog small {
    color: black;
}
.closeBtn {
    background: none;
    border: none;
    float: right;
    padding: 20px;
    border-radius: 100%;
}
.closeBtn:hover {
    transform: rotate(90deg);
    color: red;
}
.dlgHeader {
    margin-bottom: 70px;
}
dialog h2 {
    text-align: center;
}

/* header */
header {
    background: rgba(0,0,0,0.02);
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
header * {
    display: inline-block;
}
#clock {
    width: 350px;
}
#searchEngine {
    border: none;
    width: 100px;
    background: none;
    border-radius: 100px;
    margin-right: 100px;
}
#searchEngine:hover {
    box-shadow: 0px 0px 10px 0px gray;
}

#bookMarks {
    margin-left: 40px;
    display: inline-block;
}

.bookmark {
    color: black;
    text-decoration: none;
    padding-left: 10px;
}
.bookmark:hover {
    text-decoration: underline;
}
#addBMBtn {
    background: none;
    border: none;
    padding: 0;
}
#addBMBtn:hover {
    transform:scale(150%) rotate(90deg);
}
.deleteBMBtn {
    background: none;
    height: 12px;
    border: none;
    margin-right: 10px;
    background: black;
    border-radius: 100%;
    transform: scale(70%);
}
.deleteBMBtn:hover {
    background: red;
}

/* main */
main {
    padding: 10%;
    text-align: center;
}
#pageTitle {
    font-size: 40px;
    color: gray;
}
#searchIpt {
    padding: 20px;
    border: none;
    border-bottom: 2px solid gray;
    font-size: 18px;
    width: 500px;
    margin-top: 30px;
    font-weight: 900;
    background: rgba(0,0,0,0.02);
    backdrop-filter: blur(2px);
}
#searchIpt:hover {
    border-color: black;
}

/* footer */
footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0px;
    background: rgba(0,0,0,0.05);
    backdrop-filter: blur(1px);
}
#settingBtn {
    background: rgba(0,0,0,0.05);
    border: none;
    padding: 10px;
}
#settingBtn:hover {
    background: rgba(0,0,0,0.01);
}

/* setting Dlg */
.settingTable {
    width: 100%;
}
.settingTable th {
    width: 50%;
    text-align: right;
}
#initializeBtn {
    color: royalblue;
    background: none;
    border: none;
}
.tableIpt {
    border: none;
    background: none;
    border-bottom: 1.5px solid gray;
}
#set_bgValue {
    width: 50%;
}
#importBtn,#exportBtn {
    background: none;
    border: none;
    margin-top: 30px;
}